
h1{
    color: white;
    text-align: center;
}

#head{
    background : 
      linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
    width: 100%; 
}

table{
    height: 416px;
    width: 1500px;   
    font-style: Arial;  
}
.r1{
    background-color: rgb(54, 179, 179);
}
.r2{
    background-color: darkkhaki;
    background-image: ;
}
.r3{
    background-color: black;
    color: yellow;
}
#txt{
    text-align: end;
    color: seashell;
}
h2{
    text-align: center;
}
.first{
    color: maroon;
}
.second{
    color: red;
}
a:hover {
    background-color: yellow;
  }
  body{
      margin: 0;
  }
